.bf-container {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.article-edit {
  .article-edit-header {
    margin-bottom: 20px;
    margin-left: 12px;
    font-size: 16px;
    font-weight: bold;
  }
}