.admin-article {
  > * {margin-bottom: 20px;}
  .admin-article-title {
    font-size: 16px;
    font-weight: bold;
  }
  .article-create {
    float: right;
  }
  
  .article-list {
    td {
      word-break: break-all;

      div {
        white-space: nowrap;
        max-width: 280px;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .title {
        transition: all .3s;
  
        &:hover{
          cursor: pointer;
          text-decoration: underline;
        }
      }
  
      .btn-group {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}